<div id="page-banner">
  <div id ="merchant-details">
    <%= @merchant.name %>
  </div>
  <div id="merchant-links">
    <%= link_to "Dashboard", "/merchants/#{@merchant.id}", class: "dashboard-link"%>
    <%= link_to 'My Items', "/merchants/#{@merchant.id}/items",class: "items-link" %>
    <%= link_to 'My Invoices', "/merchants/#{@merchant.id}/invoices",class: "invoices-link" %>
    <%= link_to 'My Discounts', "/merchants/#{@merchant.id}/bulk_discounts",class: "bulk-discounts-link" %>
  </div>
</div>

<div id="discounts">
  <% @discounts.each do |discount| %>
    <div id="discount-<%= discount.id %>">
      <strong><%= link_to "Discount ##{discount.id}", "/merchants/#{@merchant.id}/bulk_discounts/#{discount.id}" %></strong>
      <p>Percentage: <%= discount.percentage %>%</p>
      <p>Quantity Threshold: <%= discount.quantity_threshold %></p>
    </div>
  <% end %>
</div>

<div id="new-discount-link">
  <%= link_to "Create a New Discount", "/merchants/#{@merchant.id}/bulk_discounts/new" %>
</div>
